body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, violet, navy);
  }

  #container {
    height: 120%;
    width: 40%;
    margin: 100px auto;
    background: #ccc;
  }

  h1 {
    color: #444;
    font-size: 150%;
    font-weight: lighter;
    text-align: center;
  }
  
  p {
    padding-left: 20px;
  }
  
  form input[type="text"] {
    width: 60%;
  }
  
  input {
    padding-left: 20px;
  }
  
  #billamt {
    font-size: 14px;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 8px;
  }
  
  #billamt:focus {
    background: #fff;
    outline: none;
  }
  
  #peopleamt {
    width: 60%;
    padding: 5px 8px;
    margin-left: 20px;
    background-color: #f7f7f7;
    font-size: 14px;
  }
  
  .dollarSign {
    display: inline;
  }
  
  #serviceQual {                    
    margin-left: 20px;
  }
  /*
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #4c2827;
    border-bottom-color: #111;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
  } */